body{
    background-color: rgb(247, 247, 119);
}

.about {
    margin: 10px auto;
    width: 90%;
    background-color: rgb(240, 238, 238);
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.3vw;
    box-shadow: rgb(167, 165, 165) 3px 3px 8px 8px;
}

.about h4 {
    padding: 5px;
    background-color: rgb(79, 135, 255);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 32px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about img {
    width: 100%;
    margin: 5px 1px;
}

.about p {
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    text-align: justify;
    padding: 1vw 1.7vw;
}